* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden; }

header {
  background: #fff;
  width: 100%;
  height: 55px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around; }
  header img {
    width: 15%;
    height: 70%;
    margin-top: -5px; }
  header input {
    width: 50%;
    height: 30px;
    border-radius: 3px;
    background: url(../img/i_ico.png) no-repeat 5px -110px;
    background-size: 70px auto;
    border: 1px solid #CCCCCC;
    padding-left: 30px; }
  header p {
    width: 40px;
    height: 40px;
    background: url(../img/i_ico.png) no-repeat;
    background-position: -32px -2px;
    background-size: 70px auto; }

nav {
  background: #fff;
  width: 100%;
  padding-left: 15px;
  text-align: center;
  border-bottom: 1px solid #DDDDDD; }
  nav ul {
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    nav ul li {
      font-size: 15px;
      line-height: 20px;
      height: 30px;
      width: 80px;
      text-align: center; }
      nav ul li a {
        color: black;
        text-decoration: none; }
    nav ul .on {
      border-bottom: 1px solid #FE8700; }
      nav ul .on a {
        color: #FE8F36; }

.view {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-left: 10px; }
  .view .nav {
    width: 95%;
    text-align: center;
    margin-bottom: 10px; }
    .view .nav button {
      border: 1px solid #F67B29;
      width: 45%;
      height: 35px;
      border-radius: 5px;
      background: #F67B29;
      color: #fff; }
      .view .nav button:last-child {
        margin-left: -10px;
        color: #F67B29;
        background: #fff; }

.listview {
  width: 100%; }
  .listview ul {
    width: 95%;
    list-style: none;
    background: #fff; }
    .listview ul li {
      display: flex;
      padding-top: 10px;
      min-height: 81px;
      display: -webkit-box;
      border-top: 1px solid #ebebeb;
      -webkit-box-align: center;
      position: relative; }
      .listview ul li img {
        margin-left: 10px;
        width: 60%;
        height: 100%;
        border-radius: 20px;
        vertical-align: middle; }
      .listview ul li p {
        margin-left: -30px;
        padding-right: 75px;
        font-size: 16px;
        color: #333;
        width: 30%; }
      .listview ul li span {
        width: 28px;
        display: block;
        -webkit-box-flex: 0;
        color: #bfbfbf;
        font-size: 20px;
        font-weight: 700;
        font-style: oblique; }
      .listview ul li button {
        width: 60px;
        height: 30px;
        position: absolute;
        top: 26px;
        right: 10px;
        background: #ff8c40;
        -webkit-border-radius: 3px;
        line-height: 30px;
        color: #fff;
        font-size: 14px; }

#one {
  color: #f60; }

#two {
  color: #ff8a00; }

#three {
  color: #ffba00; }

footer {
  background: #f4f4f4;
  height: 80px;
  text-align: center; }
  footer p {
    line-height: 80px; }

/*# sourceMappingURL=List.css.map */
